@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* .chatlist {
  input{
    border: none !important;
    outline: none !important;
  }
 } */